In [1]:
import yfinance as yf

In [2]:
tick = yf.Ticker('GME')

In [3]:
tick.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-27,180.000000,183.089996,172.330002,173.509995,1107000,0,0
2021-10-28,175.160004,183.139999,175.000000,182.850006,1696200,0,0
2021-10-29,182.809998,185.750000,178.000000,183.509995,2289600,0,0
2021-11-01,182.529999,208.570007,182.050003,200.089996,4944200,0,0
2021-11-02,199.350006,211.940002,191.690002,206.990005,3882300,0,0
2021-11-03,214.000000,255.690002,208.250000,218.330002,11265600,0,0
2021-11-04,222.000000,228.970001,211.550003,217.839996,2908000,0,0
2021-11-05,220.639999,221.000000,209.009995,213.250000,1809100,0,0
2021-11-08,212.500000,225.039993,212.009995,218.639999,2157900,0,0
2021-11-09,222.000000,223.490005,204.440002,206.600006,1845300,0,0
2021-11-10,202.119995,207.389999,196.500000,199.190002,1309400,0,0
2021-11-11,200.000000,208.089996,198.149994,204.320007,1079400,0,0
2021-11-12,202.139999,205.360001,197.880005,202.100006,926700,0,0
2021-11-15,203.860001,211.500000,201.690002,209.139999,1466400,0,0
2021-11-16,209.020004,212.570007,203.630005,207.179993,1214600,0,0
2021-11-17,206.300003,217.699997,206.000000,210.000000,1352700,0,0
2021-11-18,210.250000,215.139999,207.500000,210.119995,1004400,0,0
2021-11-19,209.139999,229.389999,208.250000,228.800003,3034200,0,0
2021-11-22,230.460007,249.639999,229.750000,247.550003,4371400,0,0
2021-11-23,243.839996,252.199997,212.559998,213.899994,3345200,0,0
2021-11-24,217.250000,223.990005,208.000000,211.779999,1309400,0,0
2021-11-26,208.080002,211.729904,199.199997,199.720001,1218067,0,0

In [4]:
tick

yfinance.Ticker object <GME>

In [5]:
tick.balance_sheet

,2021-01-30,2020-02-01,2019-02-02,2018-02-03
Capital Surplus,1.100000e+07,NaN,2.770000e+07,2.210000e+07
Total Liab,2.035900e+09,2.208200e+09,2.708100e+09,2.827100e+09
Total Stockholder Equity,4.367000e+08,6.115000e+08,1.336200e+09,2.214500e+09
Other Current Liab,4.252000e+08,4.230000e+08,5.495000e+08,7.116000e+08
Total Assets,2.472600e+09,2.819700e+09,4.044300e+09,5.041600e+09
Common Stock,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05
Other Current Assets,1.125000e+08,1.350000e+07,3.700000e+06,6.625000e+08
Retained Earnings,4.749000e+08,6.902000e+08,1.362700e+09,2.180100e+09
Other Liab,2.050000e+07,2.140000e+07,5.540000e+07,7.840000e+07
Treasury Stock,-4.930000e+07,-7.880000e+07,-5.430000e+07,1.220000e+07
Other Assets,5.810000e+07,1.431000e+08,2.314000e+08,2.292000e+08
Cash,5.085000e+08,4.994000e+08,1.624400e+09,8.542000e+08
Total Current Liabilities,1.342700e+09,1.237700e+09,2.181100e+09,1.930800e+09
Short Long Term Debt,7.310000e+07,NaN,3.492000e+08,NaN
Other Stockholder Equity,-4.930000e+07,-7.880000e+07,-5.430000e+07,1.220000e+07
Property Plant Equipment,8.633000e+08,1.042900e+09,3.213000e+08,3.510000e+08
Total Current Assets,1.551200e+09,1.633700e+09,3.127700e+09,3.018400e+09
Net Tangible Assets,4.367000e+08,6.115000e+08,9.723000e+08,7.715000e+08
Net Receivables,2.811000e+08,2.084000e+08,1.342000e+08,1.386000e+08
Long Term Debt,2.160000e+08,4.198000e+08,4.716000e+08,8.179000e+08
Inventory,6.025000e+08,8.597000e+08,1.250500e+09,1.250300e+09
Accounts Payable,3.418000e+08,3.808000e+08,1.051900e+09,8.923000e+08
Deferred Long Term Asset Charges,NaN,8.300000e+07,1.473000e+08,1.582000e+08
Intangible Assets,NaN,NaN,3.350000e+07,9.250000e+07
Good Will,NaN,NaN,3.639000e+08,1.350500e+09

In [6]:
tick.financials

,2021-01-30,2020-02-01,2019-02-02,2018-02-03
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,-2.699e+08,-4.268e+08,-7.531e+08,3.839e+08
Minority Interest,None,None,None,None
Net Income,-2.153e+08,-4.709e+08,-6.73e+08,3.47e+07
Selling General Administrative,1.5088e+09,1.8474e+09,1.9876e+09,2.0407e+09
Gross Profit,1.2595e+09,1.9087e+09,2.3081e+09,2.4849e+09
Ebit,-2.493e+08,6.13e+07,3.205e+08,4.442e+08
Operating Income,-2.493e+08,6.13e+07,3.205e+08,4.442e+08
Other Operating Expenses,None,None,None,None
Interest Expense,-3.4e+07,-3.85e+07,-5.68e+07,-5.68e+07
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,-5.53e+07,3.76e+07,4.17e+07,1.535e+08
Total Revenue,5.0898e+09,6.466e+09,8.2853e+09,8.5471e+09
Total Operating Expenses,5.3391e+09,6.4047e+09,7.9648e+09,8.1029e+09
Cost Of Revenue,3.8303e+09,4.5573e+09,5.9772e+09,6.0622e+09
Total Other Income Expense Net,-2.06e+07,-4.881e+08,-1.0736e+09,-6.03e+07
Discontinued Operations,-700000,-6.5e+06,1.218e+08,-1.957e+08
Net Income From Continuing Ops,-2.146e+08,-4.644e+08,-7.948e+08,2.304e+08
Net Income Applicable To Common Shares,-2.153e+08,-4.709e+08,-6.73e+08,3.47e+07

# Z-score

In [ ]:
# CB: Altman's z-score is based on Fisher's discriminant analysis (linear classifier/separator).  (See e.g. wiki)
# It is used as an indicator for financial health, or as a determiner of likelihood of bankruptcy.
# It is a weighted linear combination of factors.  We can construct many such scores.
# The weights can be calculated by past scores of businesses which did or did not go bankrupt.
# Thus, industry-specific scores may be appropriate.

In [26]:
# For Working Capital (one of the factors) we need to grab total assets and total liabilities.
current_assets = tick.balance_sheet.loc['Total Assets'][0]
current_assets

2472600000.0

In [27]:
current_liabilities = tick.balance_sheet.loc['Total Liab'][0]
current_liabilities

2035900000.0

In [28]:
working_capital = current_assets - current_liabilities
working_capital

436700000.0

In [9]:
# Altman z-score for manufacturing
def z_altman(working_capital, total_assets, retained_earnings, ebit, total_liabilities, sales):
    
    # Calculate ratios
    
    # Multiply by weights
    1.2* + 1.4* + 3.3* +0.6* + 1.0*
    
    pass

SyntaxError: invalid syntax (3832814243.py, line 7)

In [ ]:
# CB: I will create a new tech score with made up (yet justified) weights.

In [ ]:
def z_tech():
    
    pass